# ---------------------------
# Python
# ---------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*

# ---------------------------
# VS Code
# ---------------------------
.vscode/

# ---------------------------
# OS Files
# ---------------------------
.DS_Store
Thumbs.db

# ---------------------------
# Logs
# ---------------------------
*.log

# ---------------------------
# Database files
# ---------------------------
*.db
*.sqlite
*.sqlite3

data/*.db
data/*.sqlite

# SQLite WAL files
*.db-wal
*.db-shm

# ---------------------------
# Docker
# ---------------------------
docker-compose.override.yml

# ---------------------------
# Mosquitto runtime files
# ---------------------------
data/mosquitto/
data/mosquitto-log/

# ---------------------------
# Python cache
# ---------------------------
*.pyc

# ---------------------------
# Temporary files
# ---------------------------
*.tmp
*.temp